
#contact_field{
    border-style: none;
    border-radius: 10px;
    background-color: rgb(15, 127, 255);
    color: white;
    padding: 1%;
    margin: 1%;
}

.pixel-title {
    font-family: 'Public Pixel', monospace;
}

#name_field{
    color: rgb(15, 127, 255);
}

.icon{
  width: 65px;
  height: 45px;
}
#row_container_interests{
  margin-bottom: 10%;
}

#row_container{
  border-bottom: 1px solid rgb(15, 127, 255);
  margin-bottom: 10px;
}

#outer_container{
  margin-bottom: 10px;
}

.images{
  max-height: 300px;
}
#headline_concepts{
  margin: 2%;
}

@font-face {
  font-family: 'Public Pixel';
  src: url('fonts/PublicPixel-eZPz6.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
